:root {
  --color-brand-primary: #4a56e2;
  --color-brand-secondary: #24cca7;
  --color-brand-accent: #ff6596;
  --color-logout-button: #bdbdbd;

  --background-light: #ffffff;
  --background-accent: #e7eaf2;
  --background-primary: #c5baff;
  --background-secondary: #ffd8d0;

  --background-gray: #dcdcdf;
  --color-switch-main: #e0e0e0;

  --font-color-light: #fff;
  --font-color-dark: #000;

  --border-transactions: #dcdcdf;
  --background-progress-bar: #e5f1ef;
  --color-brand-secondary: rgba(36, 204, 168, 0.5);

  --nav-color-active: #4e58dd;
  --nav-color-inactive: #7079e3;

  /* variables for breakpoints are unsuable yet, use the ones from theme.js */
  --mobile-width: 767px;
  --tablet-width: 1279px;
}
