:root {
  --primary-brand-color: #24cca7;
  --main-brand-color: #4a56e2;
  --secondary-brand-color: #ff6596;

  --light-background: #fff;
  --main-background: #e7eaf2;
  --primary-background: #c5baff;
  --secondary-background: #ffd8d0;
}
