:root {
  --color-brand-primary: #4a56e2;
  --color-brand-secondary: #24cca7;
  --color-brand-accent: #ff6596;

  --background-light: #ffffff;
  --background-accent: #e7eaf2;
  --background-primary: #c5baff;
  --background-secondary: #ffd8d0;
}
